<a href="https://colab.research.google.com/github/parkyena2/googleColab/blob/main/4%EA%B0%95_%EC%8B%A4%EC%8A%B5(%EC%9B%90%EB%B3%B8)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4강 1절
* All data have different types.
* When copy & paste code, check quotation marks.

##echo
input data without command -> print as it is

In [1]:
3.14

3.14

In [2]:
"Computer Science"

'Computer Science'

##difference of quotation mark with string
quotes of common text is not quotes of python string. <br>
if you copy & paste from common text like ms word docs, it might not work.

In [5]:
“Hello World!” #not work

SyntaxError: ignored

In [6]:
"Hello World!" #work

'Hello World!'

##computing operator practice

- The execution of an operator without a variable or a function is an echo.
- Python already defined operators to work differently according to the type of data they handle.

###numerical expression of integers(numbers)

In [7]:
12 * 7

84

In [8]:
(7 + 15) * 2

44

In [10]:
2 ** 10 * 5

5120

### numerical expression of strings
- The + operator can be used for the concatenation of strings.
- The * operator can be used to repeat strings.

####concatenation of strings by + operator

In [11]:
"computer" + "science "

'computerscience'

####repetition of strings by * operator with a number

In [15]:
"computer" * 2

'computercomputer'

##Writing the rows of codes with the print() function
- The print() function can print data received as parameters.
- It would be better to use the print() function than echo:
  - I want to print data in different formats.
  - I want to print the rows of data at a time. 
    - If you print the rows of strings by echo, it will print only the last row.

In [16]:
print("Hello World!")

Hello World!

In [17]:
print(14 * 7)

98

In [18]:
print("Python is fun")
print("No I don't think so ")

Python is fun
No I don't think so

###Indentation in Python
- The indentation of code has a specific meaning in the python language.
- You should NOT use indentation of code in no meaning.

In [19]:
print("Python is fun")
  print("No I don't think so ")

IndentationError: ignored

### Writing comments for code
- Since markdown text can not be used without The Jupyter Notebook, it is very important to learn how to write comments for code.
- A comment can be wrote by writing a sentence after # mark
- A rows of comments can be wrote by writing the rows of text in between """, """ or ''', '''

In [21]:
#calculating credit
print((4.5 * 2 + 4.0 * 3) / 2)

10.5

# 4강 2절

##Using the Python variables

 - The reserved word can not be used for variable name.

In [22]:
class = 30

SyntaxError: ignored

- The variable name can not be start with a number.

In [23]:
1abc = 30

SyntaxError: ignored

- The variable name can be start with a character or a underbar.

In [25]:
abc = 30
_def = 40
print(abc)
print(_def )

30
40

###Writing a program to calculate a volume of a cone

####A program without variables

In [26]:
#radius=20, height=30

#print volume of a cone
print(1 / 3 * 3.14 * 20 ** 2 * 30 )

#print surface area of a cone
print(3.14 * 20 ** 2 + 3.14 * 20 * 30)

12559.999999999998
3140.0

####A program with variables

In [27]:
#assign a radius value to variable
rad = 20

#assign a height value to variable
hei = 30

#print volume of a cone
print(1 / 3 * 3.14 * rad ** 2 * hei)

#print surface area of a cone
print(3.14 * rad ** 2 + 3.14 * rad * hei)

12559.999999999998
3140.0

In [28]:
#assign a radius value to variable
rad = 40

#assign a height value to variable
hei = 10

#print volume of a cone
print(1 / 3 * 3.14 * rad ** 2 * hei)

#print surface area of a cone
print(3.14 * rad ** 2 + 3.14 * rad * hei)

16746.666666666664
6280.0

#Lesson 4 - 3: The Arithmetic operator and the Built in function

##Arithmetic operator

### division

In [29]:
5 / 2

2.5

###division - print quotient

In [31]:
5 // 2

2

###modulo operator
- It is mainly used to odd-even check

In [32]:
 25 % 7

4

In [33]:
8.4 % 0.9

0.30000000000000016

#### odd-even check

In [35]:
number = 9
number % 2

1

In [36]:
number = 10
number % 2

0

##Built in function
- It is already defined in the Python language

### max()

In [38]:
max(2, 3, 4)

4

###min()

In [37]:
min(2, 3, 4)

2

###round()

In [39]:
round(3.14)

3

###abs()

In [40]:
abs(-3)

3

###pow()

In [42]:
pow(2, 3)

8